.single-speaking-session .industry-item {
  display: inline-block;
  background: #DBDADC;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 5px;
}

.single-speaking-session .panelists-wrapper .grid3,
.single-ai-speaker .panelists-wrapper .grid3 {
  grid-template-columns: repeat(1, 1fr);
}

.single-speaking-session .panelists-wrapper .grid2,
.single-ai-speaker .panelists-wrapper .grid2 {
  grid-template-columns: repeat(1, 1fr);
} 

.single-speaking-session  .e-loop-item.speaking-session {
  border-radius: 4px;
  background: #F9F8FA;
}

.session-tags-wrapper .session-tag {
  font-size: 20px!important;
  font-style: normal;
  font-weight: normal!important;
  display: inline-block;
  padding: 0 12px 0 0!important;
  line-height: 1;
  /* margin-right: 10px; */
  position: relative;
}

.session-tags-wrapper .session-tag:not(:last-of-type)::before {
  position: absolute;
  content: '';
  width: 1px;
  height: calc(100% - 6px);
  background-color: #262528;
  display: block;
  right: 0;
  top: 2px;
}


.ss-top-tracks {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;
}

.single .ss-top-tracks {
  justify-content: unset;
}

.single .ss-loop2025-p2 .ss-top-tracks {
  justify-content: flex-end;
}

.ss-top-tracks > div {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  border-radius: 4px;
  background: #DBDADC;
  display: inline-block;
  padding: 10px 8px;
  line-height: 1;
}

/* .single-ai-speaker */
.single-ai-speaker .e-loop-item.speaking-session {
  border-radius: 4px;
  background: #F9F8FA;
}


/* session template  */
.ss-content-type .elementor-post-info__terms-list-item {
  display: inline-block;
  border-radius: 4px;
  background-color: #8356D4;
  font-weight: 700;
  color: white;
  padding: 12px;
  line-height: 1;
  margin-right: 5px;
}

.ss-content-type-red .elementor-post-info__terms-list-item {
  display: inline-block;
  border-radius: 4px;
  background-color: #E36060;
  font-weight: 700;
  color: white;
  padding: 12px;
  line-height: 1;
  margin-right: 5px;
}

/* session loop */
.ss-loop2025-p2 {
  height: 100%;
  justify-content: space-between;
}


/* single speaker post */
#speaker-tabs .ui-tabs-anchor {
    border-radius: 4px;
    background: white;
    border-radius: 4px 0 0 4px;
    border: unset;
}

#speaker-tabs .ui-state-active {
  border: unset!important;
  background: unset;
}

#speaker-tabs .ui-state-active a {
  background-color: #262528 !important;
}

.ss-loop2025 .session-tag {font-size:16px!important;font-weight:700!important;}


.ui-tabs .ui-tabs-nav li {
    margin: 1px -1px 0 0!important;
    border-right: unset;
    border-radius: 4px 0 0 4px!important;
    border: unset!important;
}

#speaker-tabs .ui-tabs-nav {
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  #speaker-tabs .tab-content-wrapper {
    padding-top: 0px;
  }
}


/* filter adjustments */
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #555357!important;
}

.filter-wrapper .select2 span, .select2-results li {
    font-family: var(--e-global-typography-text-font-family), Sans-serif!important;
}

#session-filter input[type=text], .filter-item-search input[type=text],
.filter-item-search input[type=text]::placeholder, #session-filter input[type=text]::placeholder {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
}


/* filter adjustments */
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #555357!important;
}

.filter-wrapper .select2 span, .select2-results li {
    font-family: var(--e-global-typography-text-font-family), Sans-serif!important;
}

#session-filter input[type=text], .filter-item-search input[type=text],
.filter-item-search input[type=text]::placeholder, #session-filter input[type=text]::placeholder {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
}